<%- include("partials/header.ejs") %>
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum fugiat porro possimus sapiente dolore iusto, ipsam voluptatum exercitationem in nemo velit quam nostrum. Fuga corporis, recusandae doloremque nemo nostrum voluptate?</p>

<%- include("partials/footer.ejs") %>