<%- include("partials/header.ejs") %>

<form action="/post" class="form" method="post">
    <h1>Compose</h1>
    <label for="">
        <h4>Title</h4>
        <input type="text" name="title" class="input">
    </label>
    <label for="">
        <h4>Post</h4>
        <textarea name="content" id="" rows="5"></textarea>
    </label>
    <input type="submit" class="btn btn-primary" value="Publish">
</form>




<%- include("partials/footer.ejs") %>